.bio-section {
  display: grid;
  grid-template-columns: 90px auto;
  max-width: 500px;
  margin: 1.8rem 0;
}

.description {
  margin-left: 0.8rem;
  h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    a {
      color: inherit;
    }
  }
  p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.avatar {
  min-width: 80px;
  align-self: center;
  border-radius: 50%;
}
